body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #121212;
  color: white;
}

.navbar {
  background-color: #1a1a1a;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.logo {
  font-weight: bold;
  color: #00bfff;
  font-size: 1.3rem;
}

#searchInput {
  padding: 8px 12px;
  width: 200px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.results {
  margin-top: 100px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 191, 255, 0.3);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
